button{
  padding:10px;
  margin:5px;

}
body{
  background-color: blueviolet;
  padding-left: 4px;
  margin: 10px;
  text-align: center;
}
div{
  text-align: center;
}
center{
  text-align: center;
}
h2{
  text-align: center;
}